<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Estilos.css">
    <link href="https://fonts.cdnfonts.com/css/seven-segment" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gotham-6" rel="stylesheet">
    <title>Euro Servicios</title>
</head>

<body>
    <div class="mainHome">
        <div class="container Principal ">
            <div class="containerPrincipal">

                <div class="containerLeft">
                    <div class="containerItemsLeft">
                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>DÓLAR</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/usa_dolar.png" alt="" />


                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>
                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>EURO</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/union_europea_euro.png" alt="" />


                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>

                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>EURO 200</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/union_europea_euro.png" alt="" />
                                    
                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>

                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>PESO MEXICANO</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter"> COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/mexico_peso_mexicano.png" alt="" />


                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>

                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="containerCenter">

                    <div class="containerImgLogo">

                        <div style="display: flex;flex-direction: column;width: 30%; gap: 6px;">
                            <div style="display: flex;align-items: center; gap: 10px;">
                            
                                <img src="/Img/peso.png" alt="" style="width: 23%;height: 100%;">
                                <span style="font-size: 25px;font-weight: 100;">TRM</span>
                                
                            </div>

                            <span style="font-size: 18px; font-weight: 100;">DOLAR $4.047.9</span>
                           
                        </div>

                        

                        <img src="/Img/logo euro.png" class="imgPrincipal"  alt="">

                        <div style="display: flex;flex-direction: column;width: 30%; gap: 6px;">
                            <div style="display: flex;align-items: center; gap: 10px;">
                            
                                <img src="/Img/fecha.png" alt="" style="width: 23%;height: 100%;">
                                <span style="font-size: 25px;font-weight: 100;">FECHA</span>
                                
                            </div>

                            <span style="font-size: 18px; font-weight: 100;">VIERNES 27/10/2023</span>
                           
                        </div>

                    </div>


                    <div class="container-columns-center">

                        <div class="columns-center">

                            <div class="container-center-complete">
                                
                                <div class="container-titles-center">

                                    <div class="rows-containerCenter">
                                        <span style="font-size: 18px;">MONEDA COIN</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Dólar Canadiense</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Libra Esterlina</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Dólar Australiano</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Real - Brasil</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Franco Suizo</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Peso Chileno</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Nuevo Sol</span>
                                    </div>

                                </div>

                                <div class="container-img-center">

                                    <div class="rows-containerCenter">
                                        &nbsp;
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/canada_dolae_canadiense.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/reino_unido_libra_esterlina.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/Nueva_Zelanda_dolar_Nueva_Zelanda.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/brasil_real_brasil.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/suiza_franco_suizo.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                </div>


                                <div class="container-inputs-center">
                                    <div class="rows-containerCenter">
                                        <span class="w-50">COMPRA <br> BUY</span>
                                        <span class="w-50">VENTA <br> SELL</span>
                                    </div>


                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">

                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                    
                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                   
                                    
                                </div>

                            </div>

                            
                        </div>

                        <div class="columns-center">

                            <div class="container-center-complete">
                                
                                <div class="container-titles-center">

                                    <div class="rows-containerCenter">
                                        <span style="font-size: 18px;">MONEDA COIN</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Peso Argentino</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Quetzal Guatemala</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Yen Japones</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Peso Dominicano</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Yuan Chino</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Florin Aruba</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Colones</span>
                                    </div>

                                </div>

                                <div class="container-img-center">

                                    <div class="rows-containerCenter">
                                        &nbsp;
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/guatrmala_Quetzal.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/republiza_dominicana_peso_dominicano.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                </div>


                                <div class="container-inputs-center">
                                    <div class="rows-containerCenter">
                                        <span class="w-50">COMPRA <br> BUY</span>
                                        <span class="w-50">VENTA <br> SELL</span>
                                    </div>


                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">

                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                    
                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                   
                                    
                                </div>

                            </div>

                            
                        </div>

                      

                    </div>


                </div>

            </div>
        </div>

        <div class="container Secundario">
            <div class="containerSecundario">
                
                <div class="containerLeft">
                    <div class="containerItemsLeft">
                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>DÓLAR</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/usa_dolar.png" alt="" />


                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>
                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>EURO</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/union_europea_euro.png" alt="" />


                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>

                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>EURO 200</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/union_europea_euro.png" alt="" />
                                    
                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>

                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="itemLeft">

                            <div class="titleItemLeft">
                                <span>PESO MEXICANO</span>
                            </div>

                            <div class="bodyItemLeft">

                                <div class="w-25 flex flex-Col alignCenter ">

                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter"> COMPRA <br>BUY</span>
                                    </div>

                                    <img src="Img/mexico_peso_mexicano.png" alt="" />


                                    <div class="flex fontSmaller flex-Col">
                                        <span class="textCenter">COMPRA <br>BUY</span>
                                    </div>

                                </div>

                                <div class="flex flex-Col">

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                    <div class="precio-moneda">
                                        <span>$</span>
                                        <input type="text" id="PrecioVentaDolar" class="inputs"ng-model="data.PrecioVentaDolar" ng-change="AlmacenarLocalStorage()" maxlength="5">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="containerCenter">

                    <div class="containerImgLogo">
                        <img src="/Img/logo euro.png" class="imgPrincipal"  alt="">
                    </div>


                    <div class="container-columns-center">

                        <div class="columns-center">

                            <div class="container-center-complete">
                                
                                <div class="container-titles-center">

                                    <div class="rows-containerCenter">
                                        <span style="font-size: 18px;">MONEDA COIN</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Dólar Canadiense</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Libra Esterlina</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Dólar Australiano</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Real - Brasil</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Franco Suizo</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Peso Chileno</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Nuevo Sol</span>
                                    </div>

                                </div>

                                <div class="container-img-center">

                                    <div class="rows-containerCenter">
                                        &nbsp;
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/canada_dolae_canadiense.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/reino_unido_libra_esterlina.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/Nueva_Zelanda_dolar_Nueva_Zelanda.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/brasil_real_brasil.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/suiza_franco_suizo.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                </div>


                                <div class="container-inputs-center">
                                    <div class="rows-containerCenter">
                                        <span class="w-50">COMPRA <br> BUY</span>
                                        <span class="w-50">VENTA <br> SELL</span>
                                    </div>


                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">

                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                    
                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                   
                                    
                                </div>

                            </div>

                            
                        </div>

                        <div class="columns-center">

                            <div class="container-center-complete">
                                
                                <div class="container-titles-center">

                                    <div class="rows-containerCenter">
                                        <span style="font-size: 18px;">MONEDA COIN</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Peso Argentino</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Quetzal Guatemala</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Yen Japones</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Peso Dominicano</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Yuan Chino</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Florin Aruba</span>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <span>Colones</span>
                                    </div>

                                </div>

                                <div class="container-img-center">

                                    <div class="rows-containerCenter">
                                        &nbsp;
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/guatrmala_Quetzal.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/republiza_dominicana_peso_dominicano.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                    <div class="rows-containerCenter">
                                        <img src="Img/usa_dolar.png" alt="">
                                    </div>

                                </div>


                                <div class="container-inputs-center">
                                    <div class="rows-containerCenter">
                                        <span class="w-50">COMPRA <br> BUY</span>
                                        <span class="w-50">VENTA <br> SELL</span>
                                    </div>


                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">

                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                    
                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>

                                    <div class="rows-containerCenter">
                                        <div class="row-containerFormsCenter">
                                            
                                            <span>$</span>
                                            <input type="text">

                                            <span>$</span>
                                            <input type="text">

                                        </div>
                                    </div>
                                   
                                    
                                </div>

                            </div>

                            
                        </div>

                      

                    </div>


                </div>

            </div>
        </div>


        <div class="container Terciario">
            <div class="containerTerciario">

                <h1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKKKKKKKKKKKKKKKKKKKK</h1>
            </div>
        </div>
        
    </div>


</body>

</html>